@charset "utf-8";

.master {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}



.style1 {
	font-size: 35px;
	text-align: center;	
	
}
.style2 {
	width: 100%;
	text-align: center;
	border-color: lightslategray; 
	background-color: antiquewhite;
	border: 4px solid #3C0000;
	
}
.style3 {
	text-align: right;
	background-color: beige;
	height: 310px;
	border: double;
	border-radius: 8px;
	width: 70%;
	float: right;
	padding: 20px;
}


.style4 {
	height: 310px;
	background-color : beige;
	border: double;
	width: 240px;
	text-align: right;
	padding: 5px;
	border-radius: 8px;
	padding-bottom: 35px;
}


.body {
	background-image: url("laptop.jpg");
	background-size: cover;
}


.gstyle {
	border: 1.5px solid #C9C380;
	float: right;
	margin: 10px;
	border-radius: 10px;
	height: 200px;
	transition: all 0.5s
	
}


.gstyle:hover {
	border: 1.5px solid #FF0004;
	transition: all 1s;
	
}


.pstyle {
	text-align: center;
	color: yellow;
	
}
.img:hover {
	opacity: 0.65;
	transition: all 1s;
	border-radius: 15px;
}

.gstyle img {
	transition: all 1s;
}




ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: #B7B5B5;
	border: 2px solid #999;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
	height: 50px;
	display: block;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	position: relative;
}

li a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 15px;
}

li a:hover {
	background-color: #505050;
	color: white;
}

li ul {
	display: none;
	position: absolute;
	top: 50px;
	background-color: black;
	border: 1.5px solid #474747;
	width: 100%;
	color: white;
}

li:hover > ul {
	display: block;
}

li ul li {
	float: none;
	text-align: center;
}

li ul li a {
	color: white;
	text-align: center;
	transition: all 0.5s
}

li ul li a:hover {
	background-color: darkblue;
	margin-left: 5px;
}
.menudiv {
	width: 100%;
	background-color: #858585;
	float: left;
}

